* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    "header header"
    "sidebar nav-article"
    "footer footer";
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.logo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-self: start;
}

.menu ul {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template: 1fr / repeat(4, 1fr);
}

.menu ul,
.menu li {
  font-size: 16px;
  list-style: none;
}

.menu {
  align-items: center;
}

.nav-article {
  grid-area: nav-article;
  display: grid;
  gap: 4px;
  padding: 0 !important;
}

.sidebar {
  background-color: #FF7755;
  display: grid;
  grid-template-areas: repeat(4, 1fr);
  gap: 50px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  display: grid;
  align-items: center;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  display: grid;
  align-items: center;
}

.nav {
  background-color: #FF7755;
}

.nav ul {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  list-style: none;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
  padding: 5px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: footer;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}